.character-container {
    background-image: url('https://img.freepik.com/foto-gratis/mesa-control-nave-espacial-interior_23-2151828178.jpg?t=st=1732740687~exp=1732744287~hmac=ee0c37d0568b8334f0a4b88cbc0913ee65c3bcc2f9bf0df0a6b3ee537230139b&w=1060');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: rgba(30, 41, 61, 0.61);
    background-blend-mode: overlay;
    color: white;
    padding: 20px;
    height: 100%;
}

.character-image {
    max-width: 700px;
    margin-right: 20px;
}

.character-info {
    flex: 1;
}

.character-history {
    font-style: italic;
    margin-bottom: 20px;
}

.details-column {
    flex: 1;
    margin: 10px;
    background-color: #333333a4;
    padding: 15px;
    border-radius: 8px;
}

.details-column h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: rgba(172, 211, 255, 0.7);
}

.character-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.character-header {
    display: flex;
}
.character-name {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgba(172, 211, 255, 0.7);
}