.home-container {
    background-image: url('https://img.freepik.com/foto-gratis/nave-espacial-futurista-explora-planeta-orbita-galaxia-noche-generada-ia_188544-37231.jpg?t=st=1732740322~exp=1732743922~hmac=51108cbda8ab931c706608b04059686f73a4ae43978d7ff308a2b83595730864&w=1060');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.39);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    padding-top: 10px;
}

.star-wars-logo {
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
    height: auto;
    transform: scale(1.05);
}

.sections { 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;   
}

.section {
    margin: 10px 0; 
    text-align: left; 
    width: 100%; 
    padding-left: 40px;
}

.section-title {
    max-width: 300px; 
    width: 100%;
    height: auto;
}

.card-container {
    display: flex; /* Usar flexbox para alinear las tarjetas en línea */
    overflow-x: auto; /* Habilitar desplazamiento horizontal */
    padding: 10px; /* Espaciado alrededor de las tarjetas */
}

.card {
    background-color: #4747479c; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px;
    width: 150px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    margin-right: 10px;
    flex-shrink: 0;
}

.card:hover {
    transform: scale(0.97); 
}

.btn-custom {
    background-color: rgb(92, 122, 173);
    color: white; /* Cambia el texto a blanco para contraste */
    border: white; 
  }
  
  .btn-custom:hover {
    background-color: rgb(37, 55, 87); /* Color más oscuro al hacer hover */
  }