.custom-navbar {
    background-color: black;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-navbar .navbar-logo {
    height: 75px;
    transform: scale(1.10);
}

.dropdown .btn-secondary {
    background-color: rgb(47, 65, 97); 
    color: rgb(255, 255, 255); 
    border: none;
    font-weight: bold;
}

.dropdown .btn-secondary:hover {
    background-color: rgb(47, 65, 97);
}

.dropdown-menu {
    background-color: rgb(47, 65, 97); 
    color: rgb(255, 255, 255); 
}

.favorite-count {
    font-weight: bold;
}

.dropdown-menu .dropdown-item {
    color: rgb(255, 255, 255);
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(50, 69, 94); 
}

.footer {
    background-color: black;
    color: white; 
}

.footer a {
    color: rgb(0, 162, 255); 
}

.footer .fa-heart {
    color: red;
}